.expense-item__delete {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg,rgba(250, 11, 11, 0.8),rgba(0,0,0,.8) 87.19%);
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
}

@media (min-width: 580px) {
  .expense-item__delete {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    margin-right: 20px;
  }
}
