.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.topnav a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.topnav a.active {
  text-decoration: underline;
}

.topnava {
  color: white;
  text-align: right;
  margin: 15px;
}

.topnavspan {
  color: lightblue;
  text-decoration: underline;
}

.topnav p {
  padding-right: 15px;
}

.topnavright {
  display: flex;
  justify-content: right;
  padding: 10px;
  color: white;
}
